{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="POST">
    {% csrf_token %}
    High priority todo :
    {% if high %}
    {% for todo in high %}
        <li><input type="checkbox" style="margin-right:20px" name="{{ todo.id }}" id="check">{{ todo.title }}</li>
    {% endfor %}
    {% endif %}
<br><br>

    Medium priority todo :
    {% if medium %}
    {% for todo in medium %}
        <li><input type="checkbox" style="margin-right:20px" name="{{ todo.id }}" id="check">{{ todo.title }}</li>
    {% endfor %}
    {% endif %}
<br><br>

    Low priority todo :
    {% if low %}
    {% for todo in low %}
        <li><input type="checkbox" style="margin-right:20px" name="{{ todo.id }}" id="check">{{ todo.title }}</li>
    {% endfor %}
    {% endif %}
<br><br>

    Completed todo :
    {% if completed %}
    {% for todo in completed %}
        <input type="hidden" name="{{ todo.id }}" value="True" />
        <li><input type="checkbox" style="margin-right:20px" name={{ todo.id }} checked id="check" value="False">{{ todo.title }}</li>
    {% endfor %}
    {% endif %}
<br><br>
    <input type="submit" value="Update">
</form>
<br>
    <a href="/add">Add a todo</a>

{% endblock %}

